{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <title>biker :: {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11405841-2']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
</head>
<body>
<div id="content">
    <h1><b>biker :: {% block title2 %}{% endblock %}</b></h1>
    <div id="menu">
        <a href="/">info</a> :: 
        <a href="/blog/es/">blog</a> :: 
        <a href="/blog/archivo/">archivo</a> :: 
        <a href="/blog/feed/es/">feed</a>
    </div>
    {% block content %}
    {% endblock %}
    <br />
    <div id="footer"><p>
        <a href="/">info</a> :: 
        <a href="/blog/es/">blog</a> :: 
        <a href="/blog/archivo/">archivo</a> :: 
        <a href="/blog/feed/es">feed</a></p>
    </div>
</div>
</body>
</html>
