{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <title>biker :: {% block title %}{% endblock %}</title>
</head>
<body>
<div id="content">
    <h1><b>biker :: {% block title2 %}{% endblock %}</b></h1>
    <div id="menu">
        <a href="/">info</a> :: 
        <a href="/blog">blog</a> :: 
        <a href="/blog/archive">archive</a> :: 
        <a href="/blog/feed">feed</a>
    </div>
    {% block content %}
    {% endblock %}
    <br />
    <div id="footer"><p>
        <a href="/">info</a> :: 
        <a href="/blog">blog</a> :: 
        <a href="/blog/archive">archive</a> :: 
        <a href="/blog/feed">feed</a></p>
    </div>
</div>
</body>
</html>
