{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <title>biker</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="content">
<h2>biker</h2>
<div class='entry'><p>Hi, I'm a simple guy who loves working with both hardware and software. I have strong experience doing automation and I'm passionate about embedded systems. Also I often contribute to FLOSS and I use GNU/Linux as my everyday system. I enjoy learning new things and I usually do projects on my free time. I love traveling all around the world.</p>
<p>I have my own <a href="/blog/">blog</a> and you can read my CV <a href="/static/Ruben_Guerra_Marin_CV.pdf">here</a>.</p></div>
</div>
</body>
</html>
