{% extends "base.html" %}

{% block title2 %}{% block title %}blog{% endblock %}{% endblock %}

{% block content %}
    {% for post in posts %}
        {% if post.tags.all %}
            <div class="title"><h2><a href="/blog/{{post.post_url}}/">{{ post.title }}</a></h2></div>
            <div class="post"><h6>{{ post.created|date:"Y-m-d" }}</h6></div>
            <div class="post"><p>{{ post.body|safe }}</p></div>
        {% endif %}
    {% endfor %}

    <!-- Next/Prev page links  -->
    {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="all_posts">
            <br />
            {% if posts.has_previous %}
                <a href= "?page={{ posts.previous_page_number }}">
                {% ifequal lang 'es' %}
                Entradas más recientes
                {% else %}
                Newer posts
                {% endifequal %}
                </a>
            {% endif %}
                <!-- &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }} -->
            {% if posts.has_previous and posts.has_next %}
             :: 
            {% endif %}
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">
                {% ifequal lang 'es' %}
                Entradas más antiguas
                {% else %}
                Older posts
                {% endifequal %}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
